<template>
  <div id="app">
    <PixiTest msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import PixiTest from './components/PixiTest.vue'

export default {
  name: 'App',
  components: {
    PixiTest
  }
}
</script>

<style>
body {
  width: 100%;
  margin: 0;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
