<template>
    <div id="pixicanvas">
    </div>
</template>

<script>
import * as PIXI from 'pixi.js'
export default {
	name: 'PixiTest',
	props: {
		msg: String
	},
	data(){
		return {
			app: new PIXI.Application({
				transparent: true,
				width: window.innerWidth,
				height: window.innerHeight,
				view: document.getElementById('pixicanvas')
			}),
			centrali: ['centrale_02_eolica2', 'centrale_00_solare2', 'centrale_03_geotermica2', 'centrale_06_gas2'],
			centSprites: [],
			centraliUrl: window.location + '/assets/',
			cenTextures: [],
			numCentrali: 10
		}
	},
	methods: {
		createCanvas(){
			console.log('inside', this.centraliUrl)
			// create an array to store the textures
			let centraleOffx = window.innerWidth / this.numCentrali;
			let centraleOffy = window.innerHeight / this.centrali.length;
			this.centrali.forEach((c, i) => {
			this.cenTextures = [];
			for (let y = 0; y < 26; y++) {
					var texture = PIXI.Texture.from(this.centraliUrl + c + '/' + c + '-' + y + '.png');
					this.cenTextures.push(texture);
				}
				for (let y = 25; y >=0; y--) {
					texture = PIXI.Texture.from(this.centraliUrl + c + '/' + c + '-' + y + '.png');
					this.cenTextures.push(texture);
				}
				for (let z = 0; z < 10; z++) {
				// create an cen AnimatedSprite
					var cen = new PIXI.AnimatedSprite(this.cenTextures);

					cen.x = centraleOffx*z;
					cen.y = centraleOffy*i;
					// cen.width = 20;
					// cen.height = 20;
					cen.scale.set(0.2);
					cen.gotoAndPlay(0);
					this.centSprites.push(cen);
				}
			})
			this.centSprites.forEach(c =>{
				c.animationSpeed = 0.5;
				this.app.stage.addChild(c);
			})
			// start animating
			this.app.start();

		}
	},
	mounted(){
		this.app.view.width = window.innerWidth;
		this.app.view.height = window.innerHeight;

		document.getElementById('pixicanvas').appendChild(this.app.view);
		this.createCanvas();
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	#pixicanvas{
		width: 100%;
		height: 100%;
	}
</style>
